
h1,h2,h3,h4,h5 .h1,.h2,.h3,.h4,.h5{font-weight:normal;}
section{margin-bottom:30px;}
.heading nav{margin-top:56px;text-align:right;}.heading nav li{display:inline;}.heading nav li a{padding:10px 0 0 60px;font-weight:bold;}
.what{color:#555;font-size:20px;line-height:1.2;text-align:justify;}.what h2{color:#333;font-size:50px;margin-bottom:20px;}.what h2 .amp{font-size:1.05em;font-family:"Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",serif;font-style:italic;}
.note{margin-top:3px;color:#999;font-size:13px;}
.presentation{background:#f5f5f5;padding:30px 0;margin:0;}
.upcoming{background:#f5f5f5;padding:30px 0;}.upcoming h3{margin-bottom:0;}
.upcoming h4{margin-top:-2px;margin-bottom:20px;color:#777;}
.upcoming .attendees{margin:20px -3px 0 0;}.upcoming .attendees li{display:block;float:left;margin:0 3px 3px 0;}.upcoming .attendees li img{display:block;border:3px solid #fff;}
.btn img{width:20px;height:20px;margin-right:4px;position:relative;top:-1px;}
.changelog{background:#f5f5f5;padding:30px 0;margin:0;}.changelog h3{margin-bottom:0;}.changelog h3 .location{color:#A0A0A0;}
.changelog article{margin-left:24px;}.changelog article h4 span{font-size:15px;color:#888;}
.changelog article .actions{float:right;margin-top:10px;}
.changelog .slides-zoom{transform:translate(-250px, -90px) scale(0.5);-moz-transform:translate(-250px, -90px) scale(0.5);-ms-transform:translate(-250px, -90px) scale(0.5);-webkit-transform:translate(-250px, -90px) scale(0.5);-o-transform:translate(-250px, -90px) scale(0.5);}
.changelog .slides-container{width:200%;overflow-x:scroll;overflow-y:hidden;height:354px;}
.changelog .slides{margin:0 0 30px 0;padding:0;list-style-type:none;width:4000px;}.changelog .slides li{display:block;float:left;}.changelog .slides li .slide-html{margin:0 0 0 20px;}
.changelog .slides li:first-child .slide-html{margin:0;}
.repos{list-style-type:none;margin:0;padding:0;}.repos .repo{display:block;background:#f5f5f5;padding:10px 0 10px 70px;position:relative;border-bottom:1px solid #ddd;}.repos .repo:hover{background:#ddd;text-decoration:none;}
.repos .repo img{position:absolute;top:10px;left:0;width:50px;height:50px;}
.repos .repo h3{margin:-5px 0 0 0;color:#444;}
.repos .repo p{color:#888;margin:-5px 0 0 0;padding-right:100px;}
.repos .repo .submitted,.repos .repo .inprogress{position:absolute;top:20px;right:10px;background:#dd4814;color:#fff;padding:2px 4px;}
.repos .repo .submitted{background:#72BC79;}
footer{padding:30px 0;background-color:#000;}footer .about{float:left;text-align:left;color:rgba(255, 255, 255, 0.35);font-size:20px;padding:60px 0 0 0;}footer .about .amp{color:#666;font-size:1.05em;font-family:"Warnock Pro","Goudy Old Style","Palatino","Book Antiqua",serif;font-style:italic;}
footer .about .asphora{font-size:.85em;}
footer .about a{color:#546B79;}footer .about a:hover{color:#9ABED2;text-decoration:none;}
footer .hicks{float:right;text-align:right;position:relative;font-family:"Helvetica Neue",Helvetica,Arial;}footer .hicks img{position:absolute;right:80px;top:30px;z-index:0;}
footer .hicks .hicks-text{z-index:1;position:relative;color:#686965;}footer .hicks .hicks-text .big{font-size:120%;color:#6F716B;}
.slides-editor{list-style-type:none;padding:0;margin:0;}
.slide-editor{margin:0 0 30px;overflow:hidden;}.slide-editor .slide-markdown{clear:both;float:left;width:446px;}.slide-editor .slide-markdown textarea{width:100%;height:334px;padding:10px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.slide-editor .slide-preview{background:#fff;float:left;width:50%;margin:0 0 0 24px;border:1px solid #ccc;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.slide-html{width:446px;height:334px;overflow:hidden;border:1px solid rgba(0, 0, 0, 0.1);padding:10px;font-size:.85em;line-height:.85em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}.slide-html code{font-size:.85em;}
.slide-html h1:first-child,.slide-html h2:first-child,.slide-html h3:first-child,.slide-html h4:first-child,.slide-html h5:first-child,.slide-html h6:first-child{margin-top:0;}
.slide-html h1 img,.slide-html h2 img,.slide-html h3 img,.slide-html h4 img,.slide-html h5 img,.slide-html h6 img{max-height:2em;max-width:2em;border:1px solid rgba(0, 0, 0, 0.1);border-radius:.2em;}
.slide-html h2{font-size:1.86em;}
.slide-html h3{font-size:1.58em;}
.slide-html h4{font-size:1em;}
.slide-html h5{font-size:.98em;}
.slide-html h6{font-size:.9em;}
.slim .heading{margin:48px 0 24px;display:block;text-align:center;}.slim .heading img{width:128px;height:128px;}
.slim h2{margin:48px 0 0;text-align:center;}
