<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    
    <title>{% block title %}The Do Club - San Francisco{% endblock %}</title>
    
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css" media="screen" charset="utf-8" />
    <meta name="description" content="">
    
    {% if settings.DEBUG %}
        <link rel="stylesheet/less" type="text/css" href="/static/less/master.less" />
        <script src="/static/js/less.js" type="text/javascript" charset="utf-8"></script>
    {% else %}
        <link rel="stylesheet" href="/static/css/master.css" type="text/css" media="screen" charset="utf-8" />
    {% endif %}
</head>

<body>
    <div class="container">
        <header class="row heading">
            <div class="span6">
                <a href="/"><img src="/static/img/do-256.png" width="128" height="128" alt="The Do Club" /></a>
            </div>
            <nav class="span6">
                <ul>
                    <li><a href="/#upcoming">Upcoming</a></li>
                    <li><a href="/#present">Present</a></li>
                    <li><a href="/#changelog">Changelog</a></li>
                </ul>
            </nav>
        </header>
        
        {% block content %}{% endblock %}
    
    </div>
    
    <footer>
        <div class="container">
            <div class="about">
                Brought to you by <br>
                <br>
                <a href="http://twitter.com/tommoor"><span class="asphora">@</span>tommoor</a> <span class="amp">&amp;</span> <a href="http://twitter.com/samuelclay"><span class="asphora">@</span>samuelclay</a> <br>
                <br>
                in San Francisco
            </div>
            <div class="hicks">
                <img src="/static/img/hicks.jpeg">
                <div class="hicks-text">
                    I do not believe making money in order <br> 
                    to consume goods is mankind's sole <br>
                    purpose on this planet. If you're <br>
                    wondering what I believe our <br>
                    purpose on this planet is, <br>
                    I'll give you a hint... <br>
                    <br>
                    <span class="big">It has to do with <br> creating &amp; sharing.</span> <br>
                    <br>
                    <span class="big">- Bill Hicks</span></div>
            </div>
        </div>
    </footer>
    <script src="/static/js/jquery.min.js" charset="utf-8"></script>
    <script src="/static/js/json2.js" charset="utf-8"></script>
    <script src="/static/js/bootstrap.min.js" charset="utf-8"></script>
    <script src="/static/js/underscore.min.js" charset="utf-8"></script>

    {% block js %}{% endblock %}

</body>
</html>