{% extends "base.html" %}

{% block content %}

<section class="upcoming">
    <div class="container">
    
    <a id="upcoming"></a>
    <h2 class="hide">Upcoming</h2>
    <div class="row">
    
        <div class="span5 what">
            <h2>Share <span class="amp">&amp;</span> Present</h2>
            <p>The Do Club is a meetup for people who code interesting things to present their work and gain recognition.</p>
            <p>Come meet like-minded folk and learn about great open source projects big and small.</p>
        </div>
        
        <div class="span6 offset1">
            <h3>Next event: 1st March 2013</h3>
            <h4>at Google San Francisco</h4>
            
            {% if attending %}
                <p>You're going! Fancy telling other people about it?</p>
                <div class="shareskies">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-count="none" data-lang="en">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            {% else %}
                <a href="/event/attend" class="btn btn-primary btn-large"><img src="/static/img/github.png"/> I'll Be There!</a>
            {% endif %}

            <ul class="attendees">
                {% for attendee in coming_event.attendees.all %}
                <li>
                    <a href="https://github.com/{{ attendee.login }}" target="_blank">
                        <img src="{{ attendee.avatar_url }}" width="60" height="60" title="{{ attendee.name }}" />
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div>
</section>
<section class="present">
    <div class="container">
    
    <a id="present"></a>
    <h2>Show Your Project</h2>
    <p class="what">Got something to show off at the next event? Each presentation is around 10 minutes <strong>(5 slides)</strong> and we've made it as easy as possible to take part - we'll even setup the slides and prefill information from your GitHub account, smart huh?</p>
        
    <a href="{% url presentation-choose %}" class="btn btn-primary btn-large"><img src="/static/img/github.png"/> Create a Presentation</a>
    
    </div>
</section>
<section class="changelog">
    <div class="container">
    
    <a id="changelog"></a>
    <h2>Changelog</h2>

    {% for event in events %}
        <a id="changelog-2013-02-01"></a>
        <h3 class="what">
            {{ event.starts_at|date:"l, F jS, Y" }}
            <span class="pull-right location">{{ event.location }}</span>
        </h3>
        
        {% for presentation in event.presentations.all %}
            <article>
                <div class="row">
                    <header class="clearfix">
                        <div class="span3 pull-right">
                            <div class="actions">
                                <iframe src="http://ghbtns.com/github-btn.html?user={{ presentation.user.login }}&amp;repo={{ presentation.repo.name }}&amp;type=watch"
                                    allowtransparency="true" frameborder="0" scrolling="0" width="60"
                                    height="20"></iframe>
                                <iframe src="http://ghbtns.com/github-btn.html?user={{ presentation.user.login }}&amp;type=follow"
                                    allowtransparency="true" frameborder="0" scrolling="0" width="142"
                                    height="20"></iframe>
                            </div>
                        </div>

                        <h4>{{ presentation.title }} <span class="by">by {{ presentation.user.login }}</span></h4>
                        <p class="description">{{ presentation.description }}</p>
                    </header>
                </div>
                
                <div class="slides-zoom">
                    <div class="slides-container">
                        <ol class="slides">
                            {% for slide in presentation.slides.all %}
                                <li class="slide"><div class="slide-html">{{ slide.html|safe }}</div></li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </article>
        {% endfor %}
    {% endfor %}
</div>
</section>
    
{% endblock content %}

{% block js %}
<script src="/static/js/homepage.js" type="text/javascript" charset="utf-8"></script>
{% endblock js %}