{% extends "base.html" %}


{% block content %}

<section class="presentation edit">
    <div class="container">
        <ol class="slides-editor">
            {% csrf_token %}
            {% for slide in presentation.slides.all %}
            <li class="slide-editor">
                <h2>Slide {{ slide.order }}</h2>
                <div class="slide-markdown">
                    <textarea name="slide_{{ slide.order }}">{{ slide.content }}</textarea>
                </div>
                <div class="slide-html slide-preview" title="Edit this slide on the left!">
                    {{ slide.html|safe }}
                </div>
            </li>
            {% endfor %}
        </ol>
        
        <h2>Finish</h2>
        <p>All done? Submit using this massive button below and We'll get in touch to let you know in plenty of time if you'll be presenting at the next event.</p>
        <input type="button" name="submit" value="Submit Presentation" class="btn btn-primary btn-large" />
    </div>
</section>
{% endblock %}

{% block js %}
    <script src="/static/js/marked.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/presentation_edit.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}