{% extends "base.html" %}


{% block content %}

<div class="slide-editor">
    {% for slide in presentation.slides.all %}
    <div class="slide">
        <div class="editor">
            <textarea name="slide_{{ slide.order }}">{{ slide.content }}</textarea>
        </div>
        <div class="preview">
            {{ slide.html }}
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}


{% block js %}
    <script src="/static/js/marked.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/presentation_edit.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}