{% extends "base.html" %}


{% block content %}

<ol class="slides-editor">
    {% csrf_token %}
    {% for slide in presentation.slides.all %}
    <li class="slide-editor">
        <div class="slide-markdown">
            <textarea name="slide_{{ slide.order }}">{{ slide.content }}</textarea>
        </div>
        <div class="slide-html slide-preview">
            {{ slide.html|safe }}
        </div>
    </li>
    {% endfor %}
</ol>

<i>Auto-saving as you type...</i>
<input type="button" name="submit" value="Submit for consideration" />

{% endblock %}


{% block js %}
    <script src="/static/js/marked.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/presentation_edit.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}