{% extends "base.html" %}

{% block content %}

<h2>Choose a Repo <small>[<a href="{% url oauth-authorize %}?next={% url presentation-choose %}">refresh</a>]</small></h2>
<p>We'll use this to let people follow and watch, and also to create the presentation template.</p>

<ul class="repos">
    {% for repo in ghuser.repos.all %}
        <li>
            <a class="repo" href="/presentation/choose/{{ repo.repo_id }}">
                <img src="{{ repo.avatar_url }}" />
                <h3>{{ repo.name }}</h3>
                <p>{{ repo.description }}</p>
                
                {% if repo.presentation %}
                    {% if repo.presentation.is_submitted %}
                        submitted
                    {% else %}
                        in progress
                    {% endif %}
                {% endif %}
            </a>
        </li>
    {% endfor %}
</ul>
    
{% endblock %}